*
{
    text-align: center;
}
.padre{
    padding: 5px;
    background-color: rgb(8, 8, 8);
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "caja1    caja1"
                         "caja2    caja2"
                         "caja3    caja3"
                         "caja4    caja4";
}
.padre .caja1
{
    background-color: rgb(254, 254, 253);
    grid-area: caja1;
}
.padre .caja2
{
    background-color: rgb(242, 241, 246);
    grid-area:  caja2;
}
.padre .caja3
{
    background-color: rgb(242, 247, 241);
    grid-area: caja3;
}
.padre .caja4
{
    background-color: rgb(247, 243, 246);
    grid-area: caja4;
}
